@font-face {
    font-family: brasserie;
    src: url(img/Brasserie.ttf);
}

@font-face {
    font-family: cafe;
    src: url(img/Heinashurry.ttf);
}

body {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-family: cafe, sans-serif;
    text-shadow: 3px 3px black;
    box-sizing: content-box;
}

h1 {
    font-size: 7rem;
}

.title_main {
    margin-top: 5vh;
    text-align: center;
    font-size: x-large;
    font-family: brasserie, sans-serif;

}

nav {
    border-bottom: 3px solid #fff;
    margin: 5rem 5rem 5rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button {
    color: #fff;
    background: none;
    text-decoration: none;
    border: none;
    font-family: brasserie, sans-serif;
    font-size: 2.6rem;
    /*margin: auto;*/
}

main {
    margin: 10% 6% 10% 6%;
    padding: 5%;
    border: 2px solid #fff;
}

.title_content {
    font-size: 5vh;
    text-align: center;
    margin: 0 1vh 5vh 1vh;
    font-family: brasserie, sans-serif;
}

.title_dish {
    font-size: 1.8rem;
    letter-spacing: 10px;
}

.title_menus {
    font-size: 2rem;
    margin-left: 1vw;
    margin-right: 2vw;
    letter-spacing: 10px;
    font-style: oblique;

}

.description_dish {
    font-size: 1.3rem;
    margin-left: 1vw;
    margin-right: 2vw;
}

.card-nav {
    height: 60%;
    border: 1px solid #fff;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.card {
    border: 1px solid #fff;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.half_line {
    width: 40%;
    margin-left: 0;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.price_dish {
    margin-left: 20px;
    font-size: 1.5rem;
    letter-spacing: 20px;
    font-family: brasserie, sans-serif;
}

.title_drink {
    font-size: 1.2rem;
}

.price_drink {
    margin-left: 20px;
    font-size: 1rem;
    letter-spacing: 20px;
    font-family: brasserie, sans-serif;
}