@font-face {
    font-family: brasserie;
    src: url(img/Brasserie.ttf);
}

body {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-family: brasserie, sans-serif;
    text-shadow: 3px 3px black;
    box-sizing: content-box;
}

h1 {
    font-size: 6vh;
}

.title_main {
    margin-top: 5vh;
    text-align: center;
    font-size: x-large;
}

nav {
    border-bottom: 3px solid #fff;
    margin: 5vh 5vw 5vh 5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

button {
    color: #fff;
    background: none;
    text-decoration: none;
    border: none;
    font-family: brasserie, sans-serif;
    font-size: 2vh;
    margin: auto;
}

main {
    margin: 10% 6% 10% 6%;
    padding: 5%;
    border: 2px solid #fff;
}

.title_content {
    font-size: 5vh;
    text-align: center;
    margin: 0 1vh 5vh 1vh;
}
.title_dish{
    font-size: 1.8vh;

}
.title_menus {
    font-size: 1.3vh;
    margin-left: 1vw;
    margin-right: 2vw;
}
.description_dish {
    font-family: "Arial", sans-serif;

    /*font-size: 1.3vh;*/
    margin-left: 1vw;
    margin-right: 2vw;
}

.card {
    border: 1px solid #fff;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.half_line {
    width: 40%;
    margin-left: 0;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.price_dish {
    letter-spacing: 10px;
}